body{
    background-color:white;
    background-image:
            radial-gradient(hsla(0, 0%, 87%, 0.21) 9px, transparent 10px),
            repeating-radial-gradient(hsla(0, 0%, 87%, 0.21) 0,
            hsla(0, 0%, 87%, 0.21) 4px, transparent 5px,
            transparent 20px, hsla(0, 0%, 87%, 0.21) 35px,
            hsla(0, 0%, 87%, 0.21) 25px, transparent 35px,
            transparent 50px);
    background-size: 30px 30px, 90px 90px;
    background-position: 0 0;
    min-width: 100px;
}