body
{
	text-align:center;
	font-size:12px;
	background-color: #016aa9;
}
#top
{
	margin:0 auto;
	width:962px;
	height:235px; 
	background:url(../img/htimg/login_01.gif) center no-repeat;
}
#middle
{
	margin:0 auto;
	width:962px;
	height:53px;
	text-align:center;
}
#left
{
	width:394px;
	height:53px; 
	background:url(../img/htimg/login_02.gif);
	float:left;
}
#center
{
	width:206px;
	height:53px;
	background:url(../img/htimg/login_03.gif);
	float:left;
}
#right
{
	width:362px;
	height:53px; 
	background:url(../img/htimg/login_04.gif);
	float:left;
}
#bottom
{
	margin:0 auto;
	width:962px;
	height:213px; 
	background:url(../img/htimg/login_05.gif) center no-repeat;
}
.textbox
{
	width:105px; 
	height:17px; 
	background-color:#292929;
	border:solid 1px #7dbad7; 
	color:#6cd0ff;
}
.dl
{
    width:49px;
    height: 19px;
    border:none;
    background: url(../img/htimg/dl.gif);
}