*{
    padding: 0;
    margin: 0;
}
img{border: 0;}
ul,ol{list-style: none;}
body
{
    font-size: 12px;
    color: #434343;
    font-family: "ו";
    background-color: #fff;
}
.clearfix:after{
    content: "";
    width: 0;
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}
.clearfix{
    zoom: 1;
}
a{color: #434343;text-decoration: none;}
a:hover{color: #3643ff; font-size: 18px}

